@import '../../scss/';

.header {
    height: $header-height;
    @include flex(center, space-between);
    
    a {
        padding: 10px;
        font-size: 1.2rem;
        font-weight: 500;
        letter-spacing: 1px;
    }

    &__logo {
        a {
            font-weight: bold;
            font-size: 1.8rem;
        }

        @include mobile {
            a {
                font-size: 2.5rem;
            }
        }
    }

    &__menu {
        @include flex(center, center);
        font-size: 1.3rem;
        gap: 1rem;

        // search
        &__search {
            @include flex(center, center);
            gap: 10px;
            padding: 5px 10px;
            border-radius: 15px;
            transition: all ease-in-out .1s;

            @include mobile {
                width: 35px;
                height: 35px;
                border-radius: 50%;
                padding: 0;
            }

            & .search-input {
                border: none;
                outline: none;
                background-color: unset;
                font-size: 1rem;

                @include mobile {
                    display: none;
                }
            }

            & .search-btn {
                cursor: pointer;
                @include mobile {
                    padding: 8px;
                }
            }

        }

        // button change theme
        &__theme {
            & .checkbox {

                &:checked + .label i:first-child {
                    display: none;
                }
                &:checked + .label i:last-child {
                    display: block;
                }
            }

            & .label {
                width: 40px;
                height: 40px;
                @include flex(center, center);
                cursor: pointer;
                border-radius: 50%;
                transition: all ease-in-out .1s;

                & i:last-child {
                    display: none;
                }

                @include mobile {
                    width: 35px;
                    height: 35px;
                }
            }
        }

        // User icon
        &__user {
            width: 40px;
            height: 40px;
            @include flex(center, center);
            padding: 0 8px;
            border-radius: 50%;
            transition: all ease-in-out .1s;
            cursor: pointer;

            @include mobile {
                width: 35px;
                height: 35px;
            }
        }
    }
} 