@import '../../scss/';


.video {
    margin: 3rem;
    @include flex(start, center);
    height: 550px;

    @include tablet {
        height: 400px;
    }

    @include mobile {
        height: 300px;
    }

    @include special {
        height: 250px;
    }

    iframe {
        width: 95%;
        height: 100%;
    }
}