@import '../../scss/';

.episodes {

    h1 {
        padding: 1rem 0;
    }

    & .ep__list {
        padding: 12px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
        gap: 6px;
        max-height: 50vh;
        overflow-y: scroll;


        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-track {
            background: #888; 
        }
           
        &::-webkit-scrollbar-thumb {
            background: #fff; 
        }
          
        &::-webkit-scrollbar-thumb:hover {
            background: #555; 
        }
    
        &__item {
            @include flex(center, center);
            min-height: 50px;
            font-size: 1.2rem;
            border: 1px solid $light-color;
            padding: 6px;
            cursor: pointer;

            &:hover {
                background-color: rgba($color: $light-main-color, $alpha: 0.3);
            }

            &.active {
                background-color: rgba($color: $light-main-color, $alpha: 0.3);
            }
        }
    }
}