@import '../../scss/';

.episodes {
    background-color: rgba(74, 74, 74, 0.699);
    & .ep__list {
        padding: 12px;
        @include flex(center, space-around);
        flex-wrap: wrap;
        gap: 1rem;
        min-height: 200px;
        max-height: 50vh;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            display: none;
        }
    
        &__item {
            @include flex(center, center);
            min-width: 40px;
            min-height: 40px;
            font-size: 1.2rem;
            border: 1px solid $light-color;
            padding: 6px;
            cursor: pointer;
        }
    }
}