@import './variables';

@mixin mobile {
    @media only screen and (max-width: $mobile-width){
        @content;
    }
}

@mixin tablet {
    @media only screen and (max-width: $tablet-width){
        @content;
    }
}

@mixin special {
    @media only screen and (max-width: $mobile-width) and (min-width: $special-width) {
        @content;
    }
}
  