$mobile-width: 600px;
$tablet-width: 1024px;
$special-width: 340px;

$font-family: "Montserrat", sans-serif;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$light-color: #fff;
$light-bg: #fff;
$light-main-color: #d80f16;


$dark-color: #0f0f0f;
$dark-bg: #0f0f0f;
$dark-main-color: red;

$header-height: 72px;